<p id="notice"><%= notice %></p>

<h1>Porosity Quiz</h1>
<h2>Find out which type of porosity your hair is!</h2>
</br></br>

<%= form_with url: 'count_result', scope: :post, remote: true, class: 'form-check' do |form| %>
  <div class='container'>
    <h4 class='font-weight-bolder'>1. Does you hair tend to get curly?</h4>
    <div class='container'>
      <%= form.radio_button :one, 'high' %>
      <%= form.label :one_high, "Yes, it's curly", class: 'form-check-label' %>
      </br>
      <%= form.radio_button :one, 'medium' %>
      <%= form.label :one_medium, "So, so, it's wavy or curly only at the ends", class: 'form-check-label' %>
      </br>
      <%= form.radio_button :one, 'low' %>
      <%= form.label :one_low, "No, my hair is straight", class: 'form-check-label' %>
    </div>
  </div>
  </br>
  <div class='container'>
    <h4 class='font-weight-bolder'>2. Is your hair frizzy sometimes?</h4>
    <div class='container'>
      <%= form.radio_button :two, 'medium' %>
      <%= form.label :two_medium, "Sometimes yes, especially when air humidity is high", class: 'form-check-label' %>
      </br>
      <%= form.radio_button :two, 'high' %>
      <%= form.label :two_high, "Yes, it's always frizzy", class: 'form-check-label' %>
      </br>
      <%= form.radio_button :two, 'low' %>
      <%= form.label :two_low, "No, my hair is never frizzy", class: 'form-check-label' %>
    </div>
  </div>
  </br>
  <div class='container'>
    <h4 class='font-weight-bolder'>3. How long does it take for your hair to air dry?</h4>
    <div class='container'>
      <%= form.radio_button :three, 'high' %>
      <%= form.label :three_high, "It's dry almost immediately after washing", class: 'form-check-label' %>
      </br>
      <%= form.radio_button :three, 'medium' %>
      <%= form.label :three_medium, "Not long, around 1,5 - 3 hours", class: 'form-check-label' %>
      </br>
      <%= form.radio_button :three, 'low' %>
      <%= form.label :three_low, "It takes ages", class: 'form-check-label' %>
    </div>
  </div>
  </br>
  <div class='container'>
    <h4 class='font-weight-bolder'>4. Is your hair easy to style?</h4>
    <div class='container'>
      <%= form.radio_button :four, 'high' %>
      <%= form.label :four_high, "Yes, it's really easy to style", class: 'form-check-label' %>
      </br>
      <%= form.radio_button :four, 'low' %>
      <%= form.label :four_low, "No, even if I style my hair, it always comes back to its previous state really quickly", class: 'form-check-label' %>
      </br>
      <%= form.radio_button :four, 'medium' %>
      <%= form.label :four_medium, "It depends on the styling products", class: 'form-check-label' %>
    </div>
  </div>
  </br>
  <div class='container'>
    <h4 class='font-weight-bolder'>5. Do you happen to have problems with getting enough volume for your hair?</h4>
    <div class='container'>
      <%= form.radio_button :five, 'high' %>
      <%= form.label :five_high, "No, I sometimes have too much volume", class: 'form-check-label' %>
      </br>
      <%= form.radio_button :five, 'medium' %>
      <%= form.label :five_medium, "It depends on the products I use for washing", class: 'form-check-label' %>
      </br>
      <%= form.radio_button :five, 'low' %>
      <%= form.label :five_low, "Yes! I almost have to fight for it", class: 'form-check-label' %>
    </div>
  </div>
  </br>
  <div class='container'>
    <%= form.submit 'Find out', class: 'btn btn-outline-danger', id: 'submit' %>
  </div>
  </br></br>
<% end %>

<% if flash[:success] == true %>
  <script>
    $(document).ready(function() {
      console.log('we are in the flash')
      $('#resultModal').modal('show')
    });
  </script>
<% end %>

<div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resultModalLabel">Congratulations!</h5>
        <%= link_to quizzes_path, type: 'button' do %>
          <h4><i class='bi bi-x'></i></h4>
        <% end %>
      </div>
      <div class="modal-body">
        </br>
        <%= @answer %>
        </br></br>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('input[type="radio"]').prop("checked", false);
});
</script>
