<p id="notice"><%= notice %></p>

<h1>Porosity Quiz</h1>
<h2>Find out which type of porosity your hair is!</h2>
</br></br>

<%= form_with url: 'count_result', scope: :post, local: false , class: 'form-check' do |form| %>
  <div class='container'>
    <h4 class='font-weight-bolder'>1. Does you hair tend to get curly?</h4>
    <div class='container'>
      <%= form.radio_button :high, 1 %>
      <%= form.label :high1, "Yes, it's curly", class: 'form-check-label' %>
      </br>
      <%= form.radio_button :medium, 1 %>
      <%= form.label :medium1, "So, so, it's wavy or curly only at the ends", class: 'form-check-label' %>
      </br>
      <%= form.radio_button :low, 1 %>
      <%= form.label :low1, "No, my hair is straight", class: 'form-check-label' %>
    </div>
  </div>
  <%= form.submit 'Find out' %>
<% end %>
    { id: 1, question: '', high: "Yes, it's curly", medium: "So, so, it's wavy or curly only at the ends", low: "No, my hair is straight" },
    { id: 2, question: 'Is you hair frizzy sometimes?', high: "Yes, it's always frizzy", medium: "Sometimes yes, especially when air humidity is high", low: "No, my hair is never frizzy" },
    { id: 3, question: 'How long does it tak for your hair to air dry?', high: "They're dry almost immediately after washing", medium: "Not long, around 1,5 - 3 hours", low: "It takes ages" }
